@import 'variables';
@import 'mixins';
@import 'functions';
@import 'config/import';

:root {
  --notification-padding-s: calc(var(--su-7) + var(--su-2) / 2);
}

.notification-item {
  border-radius: unset;
  display: grid;
  grid-row-gap: var(--su-2);
  position: relative;

  @media (min-width: $breakpoint-s) {
    border-radius: var(--radius);
  }

  &--body {
    font-size: var(--fs-s);
    color: var(--base-90);
    width: 100%;

    @media (min-width: $breakpoint-s) {
      border-radius: var(--radius);
      padding-left: var(--notification-padding-s);
    }

    a {
      color: var(--base-90);
      font-weight: var(--fw-bold);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--meta {
    display: flex;
    flex-direction: row;
    align-items: normal;
    font-size: var(--fs-s);

    a {
      color: var(--base-90);
      font-weight: var(--fw-bold);

      &:hover {
        text-decoration: underline;
      }
    }

    @media (min-width: $breakpoint-s) {
      align-items: center;
    }
  }

  &--content-container {
    border-radius: var(--radius);
    border: 1px solid var(--base-20);
    padding: var(--su-3);

    @media (min-width: $breakpoint-s) {
      margin-left: var(--notification-padding-s);
    }
  }
}

.unseen {
  background: var(--accent-brand-a10);
}

.notification-meta {
  &--title {
    color: var(--base-70);
  }

  &--name {
    font-weight: var(--fw-medium);

    &:hover,
    &:focus,
    &:active {
      color: var(--link-color-hover);
      text-decoration: underline;
    }
  }

  &--info {
    display: flex;
    flex-direction: column;
  }

  &--timestamp {
    color: var(--base-70);
    font-size: var(--fs-xs);
  }
}

.notification-item--mod {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.notification-follower-row {
  padding-left: calc(var(--su-5) + var(--su-7) / 2);

  @media (min-width: $breakpoint-s) {
    padding-left: var(--notification-padding-s);
  }
}

.notification--tag-adjustment {
  z-index: 10;

  .notification-item--title {
    background-color: var(--base-inverted);
  }
}

.notification-header--secondary {
  font-size: var(--fs-s);
  color: var(--base-90);
  margin-bottom: var(--su-1);
  font-family: var(--ff-monospace);
}

.notification-item--footer {

  @media (min-width: $breakpoint-s) {
    margin-left: var(--notification-padding-s);
  }

  &--divided {
    padding-top: var(--su-4);
    border-top: 1px solid var(--base-20);
    margin-top: var(--su-2);
  }
}

.notification-footer--body {
  font-size: var(--fs-xs);
  color: var(--base-70);
}

.notification-post--title {}

.notification-comment--body {
  border-left: 2px solid var(--base-40);
  font-size: var(--fs-s);
  padding-left: var(--su-3);
  color: var(--base-90);
  margin-bottom: var(--su-2);
}

.notification-reaction-inline {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  line-height: var(--lh-tight);

  &__image {
    margin-left: var(--su-2);
    height: var(--su-4);
    width: var(--su-4);

    @media (min-width: $breakpoint-s) {
      height: var(--su-6);
      width: var(--su-6);
    }
  }
}

.notification-item--reactions {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @media (min-width: $breakpoint-s) {
    margin-left: var(--notification-padding-s);
  }
}

.notification-reaction--like {
  .crayons-reaction__icon--active {
    display: none;
    box-shadow: inset 0 0 0 2px var(--reaction-like-color);
    background: var(--reaction-like-bg);
    color: var(--reaction-like-color);
  }

  &.reacted {
    .crayons-reaction__icon--inactive {
      display: none;
    }
    .crayons-reaction__icon--active {
      display: block;
    }
  }
}

.notification-reaction--save {
  .bm-success {
    display: none;
  }

  .reaction-button {
    &.reacted {
      .bm-initial {
        display: none;
      }

      .bm-success {
        display: block;
      }
    }
  }
}

.notification-badge {
  &--container {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
  }

  &--image {
    height: 100%;
    width: 100%;
  }
}

.notification-comment--actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  @media (min-width: $breakpoint-s) {
    margin-left: var(--notification-padding-s);
  }

  button {
    background: transparent;
    border: 0px;
    margin-top: 5px;
    margin-left: -5px;
    margin-right: 3px;
    height: 30px;
    width: 45px;
    padding: 3px 0px;
    overflow-y: hidden;
    -webkit-appearance: none;

    .reacted-emoji {
      display: none;
    }

    &.readinglist-button {
      background: darken($purple, 26%);
      color: white;
      font-family: $helvetica-condensed;
      height: auto;
      width: auto;
      padding: 3px 7px;
      display: inline-block;
      vertical-align: 5px;
      font-size: 17px;
      border-radius: 3px;
      float: right;

      img {
        opacity: 1;
      }

      &.reacted {
        vertical-align: 0px;
        padding: 3px 7px 1px;
      }
    }

    &.reacted {
      .reacted-emoji {
        display: inline;
      }

      .reaction-button-text {
        display: none;
      }
      img {
        display: none;
      }
    }
  }
  img {
    height: 25px;
    width: 25px;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

.notification-nav {
  display: none;

  @media (min-width: $breakpoint-s) {
    display: block;
    margin-bottom: var(--su-4);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .crayons-link {
    margin-bottom: var(--su-1);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notification-nav header {
  color: var(--base-80);
}

.notifications-filter__dropdown {
  display: none;

  @media screen and (max-width: 950px) {
    display: block;
  }

  &__menu-overlay {
    display: none;

    &.showing {
      display: flex;
    }

    &:before {
      content: '';
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 499;
    }
  }

  &__menu {
    display: flex;
    background: var(--base-inverted);
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 500;
  }

  &__select {
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    padding: var(--su-4);
    justify-content: center;
    font-weight: var(--fw-bold);
    width: 100%;
    font-family: var(--ff-sans-serif);

    &:hover &:active {
      background-color: var(--base-10);
    }
  }

  &__option {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--su-3) var(--su-4);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--base-10);
    }

    &.selected {
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  &__label--title {
    font-weight: var(--fw-medium);
    font-size: var(--fs-base);
  }

  &__label--subtitle {
    color: var(--base-60);
    font-size: var(--fs-s);
  }
}

.notifications-filter__list,
.notifications-filter__dropdown {
  .notifications-filter__icon {
    visibility: hidden;
  }

  .selected {
    .notifications-filter__icon {
      visibility: visible;
    }
  }
}
