@import 'variables';
@import 'mixins';
@import 'functions';
@import 'config/import';

.notification__item {
  display: grid;
  grid-row-gap: var(--su-3);
  padding: var(--su-3) var(--su-4);

  @media (max-width: $breakpoint-s) {
    padding: var(--su-4);
  }
}

.notification__meta {
  color: var(--base-90);
  display: flex;
  grid-gap: var(--su-2);

  a {
    color: var(--base-90);
    font-weight: var(--fw-bold);

    &:hover {
      color: var(--link-brand-color);
      text-decoration: underline;
    }
  }

  &--moderator {
    align-items: center;
    display: grid;
    grid-template-columns: 5fr 1fr;
  }
}

.notification__source {
  border-radius: var(--radius);
  border: 1px solid var(--base-20);
  padding: var(--su-3);

  &-header {
    font-size: var(--fs-base);
    color: var(--base-90);
    margin-bottom: var(--su-1);
  }

  &-body {
    border-left: 2px solid var(--base-40);
    font-size: var(--fs-base);
    padding-left: var(--su-3);
    color: var(--base-90);
    margin-bottom: var(--su-2);
  }
}

.notification__body {
  p {
    margin-bottom: var(--su-2);

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: var(--base-90);
    font-weight: var(--fw-bold);
    &:hover {
      color: var(--link-brand-color);
      text-decoration: underline;
    }
  }
}

.notification__footer {
  font-size: var(--fs-s);
  color: var(--base-80);
}

// Reactions
.notification__item {
  .reaction-images {
    display: inline-block;
  }
  .reaction-image {
    width: 21px;
    height: 21px;
    vertical-align: -4px;
  }
  .comment-actions {
    position: relative;
    button {
      background: transparent;
      border: 0px;
      margin-top: 5px;
      margin-left: -5px;
      margin-right: 3px;
      height: 30px;
      width: 45px;
      padding: 3px 0px;
      overflow-y: hidden;
      -webkit-appearance: none;
      .reacted-emoji {
        display: none;
      }
      &.readinglist-button {
        background: darken($purple, 26%);
        color: white;
        font-family: $helvetica-condensed;
        height: auto;
        width: auto;
        padding: 3px 7px;
        display: inline-block;
        vertical-align: 5px;
        font-size: 17px;
        border-radius: 3px;
        float: right;
        img {
          opacity: 1;
        }
        &.reacted {
          vertical-align: 0px;
          padding: 3px 7px 1px;
        }
      }
      &.reacted {
        background: transparent;
        .reacted-emoji {
          display: inline;
        }
        .reaction-button-text {
          display: none;
        }
        img {
          display: none;
        }
      }
    }
    img {
      height: 25px;
      width: 25px;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
    .toggle-reply-form {
      position: absolute;
      right: 5px;
      bottom: 8px;
      font-weight: 300;
      font-family: $helvetica-condensed;
      font-stretch: condensed;
      color: $bold-blue;
      &.already-replied-link {
        color: $green;
      }
    }
  }
}

.notification-nav {
  margin-bottom: var(--su-4);

  &:last-child {
    margin-bottom: 0;
  }

  header {
    color: var(--base-80);
  }

  .crayons-link {
    margin-bottom: var(--su-1);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notifications-filter__list {
  li {
    margin-bottom: var(--su-1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--item {
    align-items: center;
    border-radius: var(--radius);
    box-sizing: border-box;
    color: var(--card-color);
    display: inline-flex;
    font-weight: var(--fw-medium);
    justify-content: space-between;
    padding: var(--su-2);
    width: 100%;

    &:hover {
      background: var(--base-10);
    }

    &.selected {
      background: var(--base-10);

      .notifications-filter__icon {
        visibility: visible;
      }
    }
  }
}

.notifications-filter__dropdown {
  display: none;

  @media screen and (max-width: 950px) {
    display: block;
  }

  &__menu-overlay {
    display: none;

    &.showing {
      display: flex;
    }

    &:before {
      content: '';
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 499;
    }
  }

  &__header {
    padding: var(--su-3) var(--su-4);
  }

  &__title {
    font-weight: var(--fw-bold);
  }

  &__menu {
    display: flex;
    background: var(--base-inverted);
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 500;
  }

  &__select {
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    padding: var(--su-4);
    justify-content: center;
    font-weight: var(--fw-bold);
    width: 100%;
    font-family: var(--ff-sans-serif);

    &:hover &:active {
      background-color: var(--base-10);
    }
  }

  &__icon {
    visibility: hidden;
  }

  &__option {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--su-3) var(--su-4);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--base-10);
    }

    &.selected {
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  &__label--title {
    font-weight: var(--fw-medium);
    font-size: var(--fs-base);
  }

  &__label--subtitle {
    color: var(--base-60);
    font-size: var(--fs-s);
  }
}

.notifications-filter__list,
.notifications-filter__dropdown {
  .notifications-filter__icon {
    visibility: hidden;
  }

  .selected {
    .notifications-filter__icon {
      visibility: visible;
    }
  }
}
